# Data Analytics Project - Pair 1
# Linear Regression Model

# Things left to do : 
1. Repeat and keep changing parameters until you get most accurate predicitons for Bajaj
4. Create Model for Hero
5. Train model for Hero
6. Get prediction for Hero
7. Repeat and keep changing parameters until you get most accurate predicitons for Hero

In [1]:
# importing required libraries
import os
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import metrics
import statsmodels.api as sm
from regressors import stats

# Get datasets

In [2]:
bajaj_df = pd.read_csv("../../Storage/Companies_with_names_exchange/BAJAJ-AUTONSE.csv", index_col=['Date'])

In [3]:
bajaj_df.head()

,High,Low,Open,Close,Volume,Adj Close,Company,Exchange
Date,,,,,,,,
2017-01-02,2654.300049,2552.000000,2642.699951,2598.500000,323342.0,2336.084473,BAJAJ-AUTO,NSE
2017-01-03,2632.199951,2561.449951,2594.000000,2619.199951,420196.0,2354.694336,BAJAJ-AUTO,NSE
2017-01-04,2698.550049,2615.949951,2625.199951,2684.100098,343922.0,2413.040283,BAJAJ-AUTO,NSE
2017-01-05,2730.000000,2685.000000,2694.000000,2723.350098,188686.0,2448.326416,BAJAJ-AUTO,NSE
2017-01-06,2739.899902,2696.699951,2721.000000,2707.350098,159484.0,2433.942383,BAJAJ-AUTO,NSE

In [4]:
hero_df = pd.read_csv("../../Storage/Companies_with_names_exchange/HEROMOTOCONSE.csv", index_col=['Date'])

In [5]:
hero_df.head()

,High,Low,Open,Close,Volume,Adj Close,Company,Exchange
Date,,,,,,,,
2017-01-02,3068.949951,2992.550049,3042.000000,3030.550049,213654.0,2625.101074,HEROMOTOCO,NSE
2017-01-03,3016.149902,2962.550049,2978.000000,2986.550049,454277.0,2586.987549,HEROMOTOCO,NSE
2017-01-04,3017.300049,2971.000000,2999.000000,3004.899902,396816.0,2602.882568,HEROMOTOCO,NSE
2017-01-05,3083.800049,3012.949951,3034.899902,3071.750000,383925.0,2660.788574,HEROMOTOCO,NSE
2017-01-06,3119.000000,3052.000000,3085.000000,3067.550049,266915.0,2657.150635,HEROMOTOCO,NSE

# Decide prediction timeline

In [6]:
pair1_orders_df = pd.read_csv("../../Preprocess/Pair1/Pair1_preprocessing_and_orders.csv", index_col=[0])

In [7]:
pair1_orders_df.head()

,Hero_Close,Bajaj_Close,Spread,zscore,Spread_20_Day_SMA,zscore_Spread_20_day_SMA,Orders
Date,,,,,,,
2018-10-10,2920.100098,2581.800049,338.300049,0.397766,298.057483,0.702011,FLAT
2018-10-11,2871.000000,2525.800049,345.199951,0.474415,294.832483,0.806742,FLAT
2018-10-12,2893.949951,2623.050049,270.899902,-0.350959,290.852478,-0.321035,FLAT
2018-10-15,2881.250000,2620.449951,260.800049,-0.463155,289.102478,-0.474337,FLAT
2018-10-16,2895.199951,2610.500000,284.699951,-0.197659,287.879980,-0.111568,FLAT

In [8]:
pair1_orders_df[pair1_orders_df["Orders"] != "FLAT"]

,Hero_Close,Bajaj_Close,Spread,zscore,Spread_20_Day_SMA,zscore_Spread_20_day_SMA,Orders
Date,,,,,,,
2018-10-22,2731.800049,2556.899902,174.900146,-1.417389,271.300000,-1.778185,LONG
2018-10-23,2724.250000,2586.500000,137.750000,-1.830078,259.387500,-2.342075,LONG
2018-10-26,2705.350098,2513.750000,191.600098,-1.231875,241.092505,-1.524701,LONG
2018-10-31,2762.350098,2593.699951,168.650146,-1.486818,230.782507,-1.873051,LONG
2018-11-05,2847.800049,2672.550049,175.250000,-1.413502,236.842505,-1.772874,LONG
2018-11-06,2856.050049,2674.600098,181.449951,-1.344629,231.467505,-1.678767,LONG
2018-11-12,2839.350098,2652.300049,187.050049,-1.282420,212.482507,-1.593765,LONG
2018-11-14,2847.550049,2676.500000,171.050049,-1.460158,205.160010,-1.836624,LONG
2018-11-19,2980.649902,2679.649902,301.000000,-0.016587,208.854993,0.135845,GET_OUT_OF_POSITION
2018-11-26,3076.000000,2649.500000,426.500000,1.377550,238.764990,2.040770,SHORT
2018-11-28,2999.149902,2603.899902,395.250000,1.030404,256.834985,1.566436,SHORT
2018-12-05,3052.500000,2764.100098,288.399902,-0.156558,282.139966,-0.055408,GET_OUT_OF_POSITION
2018-12-12,3258.649902,2848.399902,410.250000,1.197034,311.027466,1.794116,SHORT
2018-12-13,3318.250000,2836.100098,482.149902,1.995747,326.582458,2.885462,SHORT
2018-12-14,3314.649902,2823.149902,491.500000,2.099614,338.492468,3.027384,SHORT
2018-12-17,3286.100098,2840.949951,445.150146,1.584729,347.422485,2.323855,SHORT
2018-12-18,3298.050049,2840.899902,457.150146,1.718033,355.229993,2.505999,SHORT
2018-12-19,3305.199951,2863.000000,442.199951,1.551956,362.659985,2.279074,SHORT
2018-12-20,3361.350098,2887.199951,474.150146,1.906880,370.997485,2.764036,SHORT
2018-12-21,3324.149902,2808.449951,515.699951,2.368443,380.412488,3.394708,SHORT
2018-12-24,3168.399902,2724.649902,443.750000,1.569175,381.274988,2.302602,SHORT
2018-12-26,3175.199951,2734.600098,440.599854,1.534181,385.379980,2.254787,SHORT
2018-12-27,3128.800049,2737.000000,391.800049,0.992080,385.207483,1.514070,SHORT
2018-12-28,3122.600098,2717.500000,405.100098,1.139826,390.822485,1.715947,SHORT
2019-01-01,3127.600098,2726.649902,400.950195,1.093726,399.405005,1.652957,SHORT
2019-01-04,2987.850098,2734.199951,253.650146,-0.542581,400.362524,-0.582863,GET_OUT_OF_POSITION

## Given the orders data above, we plan to predict from 2018-12-26 to 2019-01-04
- 17 trading days

# Preprocessing of Bajaj dataset

In [9]:
bajaj_df = bajaj_df.reset_index()
bajaj_df.head()

,Date,High,Low,Open,Close,Volume,Adj Close,Company,Exchange
0,2017-01-02,2654.300049,2552.000000,2642.699951,2598.500000,323342.0,2336.084473,BAJAJ-AUTO,NSE
1,2017-01-03,2632.199951,2561.449951,2594.000000,2619.199951,420196.0,2354.694336,BAJAJ-AUTO,NSE
2,2017-01-04,2698.550049,2615.949951,2625.199951,2684.100098,343922.0,2413.040283,BAJAJ-AUTO,NSE
3,2017-01-05,2730.000000,2685.000000,2694.000000,2723.350098,188686.0,2448.326416,BAJAJ-AUTO,NSE
4,2017-01-06,2739.899902,2696.699951,2721.000000,2707.350098,159484.0,2433.942383,BAJAJ-AUTO,NSE

## Creating training dataset Bajaj

In [10]:
# Cropping dataset to be in training range
X_train_bajaj = bajaj_df[bajaj_df["Date"] < "2018-12-26"]
X_train_bajaj = X_train_bajaj[X_train_bajaj["Date"] >= "2018-10-09"]

X_train_bajaj

,Date,High,Low,Open,Close,Volume,Adj Close,Company,Exchange
438,2018-10-09,2590.050049,2530.300049,2590.000000,2548.850098,309578.0,2385.900635,BAJAJ-AUTO,NSE
439,2018-10-10,2628.899902,2556.000000,2560.000000,2581.800049,699121.0,2416.744141,BAJAJ-AUTO,NSE
440,2018-10-11,2555.899902,2505.449951,2540.000000,2525.800049,386992.0,2364.324219,BAJAJ-AUTO,NSE
441,2018-10-12,2648.949951,2530.100098,2549.500000,2623.050049,510424.0,2455.357178,BAJAJ-AUTO,NSE
442,2018-10-15,2647.399902,2576.100098,2644.000000,2620.449951,176677.0,2452.923096,BAJAJ-AUTO,NSE
443,2018-10-16,2648.000000,2605.000000,2638.000000,2610.500000,257469.0,2443.609375,BAJAJ-AUTO,NSE
444,2018-10-17,2649.649902,2538.000000,2638.000000,2547.800049,285116.0,2384.917725,BAJAJ-AUTO,NSE
445,2018-10-19,2542.850098,2480.000000,2535.250000,2510.250000,470172.0,2349.768555,BAJAJ-AUTO,NSE
446,2018-10-22,2574.699951,2496.699951,2530.100098,2556.899902,321452.0,2393.435791,BAJAJ-AUTO,NSE
447,2018-10-23,2598.699951,2526.000000,2540.000000,2586.500000,342563.0,2421.143799,BAJAJ-AUTO,NSE
448,2018-10-24,2619.899902,2456.600098,2615.000000,2475.149902,1669762.0,2316.912354,BAJAJ-AUTO,NSE
449,2018-10-25,2498.699951,2420.000000,2455.000000,2477.550049,913688.0,2319.158936,BAJAJ-AUTO,NSE
450,2018-10-26,2533.600098,2446.699951,2483.000000,2513.750000,498124.0,2353.044678,BAJAJ-AUTO,NSE
451,2018-10-29,2558.350098,2474.250000,2533.000000,2549.100098,388894.0,2386.134766,BAJAJ-AUTO,NSE
452,2018-10-30,2583.000000,2532.899902,2554.000000,2556.250000,270336.0,2392.827393,BAJAJ-AUTO,NSE
453,2018-10-31,2614.000000,2486.149902,2550.000000,2593.699951,552796.0,2427.883301,BAJAJ-AUTO,NSE
454,2018-11-01,2619.000000,2568.050049,2613.100098,2598.850098,356883.0,2432.704346,BAJAJ-AUTO,NSE
455,2018-11-02,2700.000000,2620.000000,2620.000000,2657.750000,769311.0,2487.838623,BAJAJ-AUTO,NSE
456,2018-11-05,2687.449951,2622.550049,2670.000000,2672.550049,222067.0,2501.692627,BAJAJ-AUTO,NSE
457,2018-11-06,2698.000000,2658.949951,2673.199951,2674.600098,278587.0,2503.611572,BAJAJ-AUTO,NSE
458,2018-11-07,2695.000000,2681.149902,2694.000000,2692.550049,38824.0,2520.413818,BAJAJ-AUTO,NSE
459,2018-11-09,2745.000000,2673.500000,2680.000000,2693.050049,344335.0,2520.881836,BAJAJ-AUTO,NSE
460,2018-11-12,2726.000000,2640.949951,2700.000000,2652.300049,272808.0,2482.737305,BAJAJ-AUTO,NSE
461,2018-11-13,2673.399902,2613.000000,2649.000000,2665.500000,305897.0,2495.093262,BAJAJ-AUTO,NSE
462,2018-11-14,2714.899902,2652.000000,2675.000000,2676.500000,302299.0,2505.389893,BAJAJ-AUTO,NSE
463,2018-11-15,2699.000000,2661.100098,2681.000000,2668.850098,240745.0,2498.229004,BAJAJ-AUTO,NSE
464,2018-11-16,2705.899902,2675.149902,2680.000000,2695.350098,317881.0,2523.034912,BAJAJ-AUTO,NSE
465,2018-11-19,2708.000000,2670.000000,2704.000000,2679.649902,209883.0,2508.338379,BAJAJ-AUTO,NSE
466,2018-11-20,2679.649902,2655.000000,2679.649902,2666.500000,146989.0,2496.029297,BAJAJ-AUTO,NSE
467,2018-11-21,2673.000000,2591.100098,2673.000000,2604.649902,381149.0,2438.133301,BAJAJ-AUTO,NSE
468,2018-11-22,2624.000000,2580.800049,2600.000000,2590.350098,373650.0,2424.747559,BAJAJ-AUTO,NSE
469,2018-11-26,2662.899902,2576.000000,2606.000000,2649.500000,376778.0,2480.116211,BAJAJ-AUTO,NSE
470,2018-11-27,2643.949951,2570.899902,2642.000000,2599.649902,437591.0,2433.452881,BAJAJ-AUTO,NSE
471,2018-11-28,2625.000000,2584.000000,2612.000000,2603.899902,285713.0,2437.431152,BAJAJ-AUTO,NSE
472,2018-11-29,2737.000000,2602.050049,2633.000000,2724.000000,763933.0,2549.853271,BAJAJ-AUTO,NSE
473,2018-11-30,2769.699951,2702.000000,2721.000000,2745.699951,690175.0,2570.165771,BAJAJ-AUTO,NSE
474,2018-12-03,2764.949951,2714.000000,2760.000000,2736.000000,386060.0,2561.085938,BAJAJ-AUTO,NSE
475,2018-12-04,2790.000000,2726.250000,2740.100098,2763.850098,395469.0,2587.155762,BAJAJ-AUTO,NSE
476,2018-12-05,2774.500000,2731.100098,2759.000000,2764.100098,178352.0,2587.389648,BAJAJ-AUTO,NSE
477,2018-12-06,2799.399902,2705.850098,2740.000000,2718.100098,468440.0,2544.330566,BAJAJ-AUTO,NSE
478,2018-12-07,2793.000000,2716.300049,2722.000000,2786.199951,417465.0,2608.076660,BAJAJ-AUTO,NSE
479,2018-12-10,2769.949951,2702.800049,2713.000000,2725.100098,274974.0,2550.883057,BAJAJ-AUTO,NSE
480,2018-12-11,2760.000000,2685.000000,2710.000000,2739.600098,370479.0,2564.456055,BAJAJ-AUTO,NSE
481,2018-12-12,2858.000000,2738.649902,2742.000000,2848.399902,552031.0,2666.300049,BAJAJ-AUTO,NSE
482,2018-12-13,2885.649902,2821.699951,2860.000000,2836.100098,466453.0,2654.786621,BAJAJ-AUTO,NSE
483,2018-12-14,2837.350098,2785.199951,2836.000000,2823.149902,465457.0,2642.664551,BAJAJ-AUTO,NSE
484,2018-12-17,2853.000000,2826.100098,2833.000000,2840.949951,225455.0,2659.326416,BAJAJ-AUTO,NSE
485,2018-12-18,2873.800049,2822.050049,2840.000000,2840.899902,443162.0,2659.279785,BAJAJ-AUTO,NSE
486,2018-12-19,2882.000000,2845.050049,2853.899902,2863.000000,393269.0,2679.966797,BAJAJ-AUTO,NSE
487,2018-12-20,2900.000000,2832.000000,2855.000000,2887.199951,288162.0,2702.619873,BAJAJ-AUTO,NSE
488,2018-12-21,2905.000000,2801.000000,2897.000000,2808.449951,386367.0,2628.904297,BAJAJ-AUTO,NSE
489,2018-12-24,2832.699951,2715.850098,2825.500000,2724.649902,348337.0,2550.461426,BAJAJ-AUTO,NSE

In [11]:
# Independent variables
# features = ['High', 'Low', 'Open', 'Volume']
features = ['Volume', 'Low', 'Open']
X_train_bajaj = X_train_bajaj[features]

X_train_bajaj

        Volume          Low         Open
438   309578.0  2530.300049  2590.000000
439   699121.0  2556.000000  2560.000000
440   386992.0  2505.449951  2540.000000
441   510424.0  2530.100098  2549.500000
442   176677.0  2576.100098  2644.000000
443   257469.0  2605.000000  2638.000000
444   285116.0  2538.000000  2638.000000
445   470172.0  2480.000000  2535.250000
446   321452.0  2496.699951  2530.100098
447   342563.0  2526.000000  2540.000000
448  1669762.0  2456.600098  2615.000000
449   913688.0  2420.000000  2455.000000
450   498124.0  2446.699951  2483.000000
451   388894.0  2474.250000  2533.000000
452   270336.0  2532.899902  2554.000000
453   552796.0  2486.149902  2550.000000
454   356883.0  2568.050049  2613.100098
455   769311.0  2620.000000  2620.000000
456   222067.0  2622.550049  2670.000000
457   278587.0  2658.949951  2673.199951
458    38824.0  2681.149902  2694.000000
459   344335.0  2673.500000  2680.000000
460   272808.0  2640.949951  2700.000000
461   305897.0  2613.000000  2649.000000
462   302299.0  2652.000000  2675.000000
463   240745.0  2661.100098  2681.000000
464   317881.0  2675.149902  2680.000000
465   209883.0  2670.000000  2704.000000
466   146989.0  2655.000000  2679.649902
467   381149.0  2591.100098  2673.000000
468   373650.0  2580.800049  2600.000000
469   376778.0  2576.000000  2606.000000
470   437591.0  2570.899902  2642.000000
471   285713.0  2584.000000  2612.000000
472   763933.0  2602.050049  2633.000000
473   690175.0  2702.000000  2721.000000
474   386060.0  2714.000000  2760.000000
475   395469.0  2726.250000  2740.100098
476   178352.0  2731.100098  2759.000000
477   468440.0  2705.850098  2740.000000
478   417465.0  2716.300049  2722.000000
479   274974.0  2702.800049  2713.000000
480   370479.0  2685.000000  2710.000000
481   552031.0  2738.649902  2742.000000
482   466453.0  2821.699951  2860.000000
483   465457.0  2785.199951  2836.000000
484   225455.0  2826.100098  2833.000000
485   443162.0  2822.050049  2840.000000
486   393269.0  2845.050049  2853.899902
487   288162.0  2832.000000  2855.000000
488   386367.0  2801.000000  2897.000000
489   348337.0  2715.850098  2825.500000

In [12]:
len(X_train_bajaj)

52

In [13]:
# Cropping dataset to be in training range
y_train_bajaj = bajaj_df[bajaj_df["Date"] <= "2018-12-26"]
y_train_bajaj = y_train_bajaj[y_train_bajaj["Date"] >= "2018-10-10"]

y_train_bajaj

,Date,High,Low,Open,Close,Volume,Adj Close,Company,Exchange
439,2018-10-10,2628.899902,2556.000000,2560.000000,2581.800049,699121.0,2416.744141,BAJAJ-AUTO,NSE
440,2018-10-11,2555.899902,2505.449951,2540.000000,2525.800049,386992.0,2364.324219,BAJAJ-AUTO,NSE
441,2018-10-12,2648.949951,2530.100098,2549.500000,2623.050049,510424.0,2455.357178,BAJAJ-AUTO,NSE
442,2018-10-15,2647.399902,2576.100098,2644.000000,2620.449951,176677.0,2452.923096,BAJAJ-AUTO,NSE
443,2018-10-16,2648.000000,2605.000000,2638.000000,2610.500000,257469.0,2443.609375,BAJAJ-AUTO,NSE
444,2018-10-17,2649.649902,2538.000000,2638.000000,2547.800049,285116.0,2384.917725,BAJAJ-AUTO,NSE
445,2018-10-19,2542.850098,2480.000000,2535.250000,2510.250000,470172.0,2349.768555,BAJAJ-AUTO,NSE
446,2018-10-22,2574.699951,2496.699951,2530.100098,2556.899902,321452.0,2393.435791,BAJAJ-AUTO,NSE
447,2018-10-23,2598.699951,2526.000000,2540.000000,2586.500000,342563.0,2421.143799,BAJAJ-AUTO,NSE
448,2018-10-24,2619.899902,2456.600098,2615.000000,2475.149902,1669762.0,2316.912354,BAJAJ-AUTO,NSE
449,2018-10-25,2498.699951,2420.000000,2455.000000,2477.550049,913688.0,2319.158936,BAJAJ-AUTO,NSE
450,2018-10-26,2533.600098,2446.699951,2483.000000,2513.750000,498124.0,2353.044678,BAJAJ-AUTO,NSE
451,2018-10-29,2558.350098,2474.250000,2533.000000,2549.100098,388894.0,2386.134766,BAJAJ-AUTO,NSE
452,2018-10-30,2583.000000,2532.899902,2554.000000,2556.250000,270336.0,2392.827393,BAJAJ-AUTO,NSE
453,2018-10-31,2614.000000,2486.149902,2550.000000,2593.699951,552796.0,2427.883301,BAJAJ-AUTO,NSE
454,2018-11-01,2619.000000,2568.050049,2613.100098,2598.850098,356883.0,2432.704346,BAJAJ-AUTO,NSE
455,2018-11-02,2700.000000,2620.000000,2620.000000,2657.750000,769311.0,2487.838623,BAJAJ-AUTO,NSE
456,2018-11-05,2687.449951,2622.550049,2670.000000,2672.550049,222067.0,2501.692627,BAJAJ-AUTO,NSE
457,2018-11-06,2698.000000,2658.949951,2673.199951,2674.600098,278587.0,2503.611572,BAJAJ-AUTO,NSE
458,2018-11-07,2695.000000,2681.149902,2694.000000,2692.550049,38824.0,2520.413818,BAJAJ-AUTO,NSE
459,2018-11-09,2745.000000,2673.500000,2680.000000,2693.050049,344335.0,2520.881836,BAJAJ-AUTO,NSE
460,2018-11-12,2726.000000,2640.949951,2700.000000,2652.300049,272808.0,2482.737305,BAJAJ-AUTO,NSE
461,2018-11-13,2673.399902,2613.000000,2649.000000,2665.500000,305897.0,2495.093262,BAJAJ-AUTO,NSE
462,2018-11-14,2714.899902,2652.000000,2675.000000,2676.500000,302299.0,2505.389893,BAJAJ-AUTO,NSE
463,2018-11-15,2699.000000,2661.100098,2681.000000,2668.850098,240745.0,2498.229004,BAJAJ-AUTO,NSE
464,2018-11-16,2705.899902,2675.149902,2680.000000,2695.350098,317881.0,2523.034912,BAJAJ-AUTO,NSE
465,2018-11-19,2708.000000,2670.000000,2704.000000,2679.649902,209883.0,2508.338379,BAJAJ-AUTO,NSE
466,2018-11-20,2679.649902,2655.000000,2679.649902,2666.500000,146989.0,2496.029297,BAJAJ-AUTO,NSE
467,2018-11-21,2673.000000,2591.100098,2673.000000,2604.649902,381149.0,2438.133301,BAJAJ-AUTO,NSE
468,2018-11-22,2624.000000,2580.800049,2600.000000,2590.350098,373650.0,2424.747559,BAJAJ-AUTO,NSE
469,2018-11-26,2662.899902,2576.000000,2606.000000,2649.500000,376778.0,2480.116211,BAJAJ-AUTO,NSE
470,2018-11-27,2643.949951,2570.899902,2642.000000,2599.649902,437591.0,2433.452881,BAJAJ-AUTO,NSE
471,2018-11-28,2625.000000,2584.000000,2612.000000,2603.899902,285713.0,2437.431152,BAJAJ-AUTO,NSE
472,2018-11-29,2737.000000,2602.050049,2633.000000,2724.000000,763933.0,2549.853271,BAJAJ-AUTO,NSE
473,2018-11-30,2769.699951,2702.000000,2721.000000,2745.699951,690175.0,2570.165771,BAJAJ-AUTO,NSE
474,2018-12-03,2764.949951,2714.000000,2760.000000,2736.000000,386060.0,2561.085938,BAJAJ-AUTO,NSE
475,2018-12-04,2790.000000,2726.250000,2740.100098,2763.850098,395469.0,2587.155762,BAJAJ-AUTO,NSE
476,2018-12-05,2774.500000,2731.100098,2759.000000,2764.100098,178352.0,2587.389648,BAJAJ-AUTO,NSE
477,2018-12-06,2799.399902,2705.850098,2740.000000,2718.100098,468440.0,2544.330566,BAJAJ-AUTO,NSE
478,2018-12-07,2793.000000,2716.300049,2722.000000,2786.199951,417465.0,2608.076660,BAJAJ-AUTO,NSE
479,2018-12-10,2769.949951,2702.800049,2713.000000,2725.100098,274974.0,2550.883057,BAJAJ-AUTO,NSE
480,2018-12-11,2760.000000,2685.000000,2710.000000,2739.600098,370479.0,2564.456055,BAJAJ-AUTO,NSE
481,2018-12-12,2858.000000,2738.649902,2742.000000,2848.399902,552031.0,2666.300049,BAJAJ-AUTO,NSE
482,2018-12-13,2885.649902,2821.699951,2860.000000,2836.100098,466453.0,2654.786621,BAJAJ-AUTO,NSE
483,2018-12-14,2837.350098,2785.199951,2836.000000,2823.149902,465457.0,2642.664551,BAJAJ-AUTO,NSE
484,2018-12-17,2853.000000,2826.100098,2833.000000,2840.949951,225455.0,2659.326416,BAJAJ-AUTO,NSE
485,2018-12-18,2873.800049,2822.050049,2840.000000,2840.899902,443162.0,2659.279785,BAJAJ-AUTO,NSE
486,2018-12-19,2882.000000,2845.050049,2853.899902,2863.000000,393269.0,2679.966797,BAJAJ-AUTO,NSE
487,2018-12-20,2900.000000,2832.000000,2855.000000,2887.199951,288162.0,2702.619873,BAJAJ-AUTO,NSE
488,2018-12-21,2905.000000,2801.000000,2897.000000,2808.449951,386367.0,2628.904297,BAJAJ-AUTO,NSE
489,2018-12-24,2832.699951,2715.850098,2825.500000,2724.649902,348337.0,2550.461426,BAJAJ-AUTO,NSE
490,2018-12-26,2749.800049,2670.000000,2713.699951,2734.600098,410582.0,2559.775635,BAJAJ-AUTO,NSE

In [14]:
y_train_bajaj = y_train_bajaj['Close']

y_train_bajaj

439    2581.800049
440    2525.800049
441    2623.050049
442    2620.449951
443    2610.500000
444    2547.800049
445    2510.250000
446    2556.899902
447    2586.500000
448    2475.149902
449    2477.550049
450    2513.750000
451    2549.100098
452    2556.250000
453    2593.699951
454    2598.850098
455    2657.750000
456    2672.550049
457    2674.600098
458    2692.550049
459    2693.050049
460    2652.300049
461    2665.500000
462    2676.500000
463    2668.850098
464    2695.350098
465    2679.649902
466    2666.500000
467    2604.649902
468    2590.350098
469    2649.500000
470    2599.649902
471    2603.899902
472    2724.000000
473    2745.699951
474    2736.000000
475    2763.850098
476    2764.100098
477    2718.100098
478    2786.199951
479    2725.100098
480    2739.600098
481    2848.399902
482    2836.100098
483    2823.149902
484    2840.949951
485    2840.899902
486    2863.000000
487    2887.199951
488    2808.449951
489    2724.649902
490    2734.600098
Name: Close, dtype: float64

In [15]:
len(y_train_bajaj)

52

# Create and train Model for Bajaj

In [16]:
bajaj_model = linear_model.LinearRegression()
bajaj_model = bajaj_model.fit(X_train_bajaj, y_train_bajaj)

In [17]:
bajaj_model.intercept_

482.35983073032594

In [18]:
bajaj_train_predictions = bajaj_model.predict(X_train_bajaj)

In [19]:
bajaj_train_predictions

array([2572.94415362, 2635.14343788, 2566.621154  , 2598.95100926,
       2601.87902399, 2644.70572508, 2560.50576441, 2539.75970621,
       2557.1292386 , 2590.95243821, 2524.54098831, 2517.25752224,
       2521.61178541, 2530.05168179, 2590.54759545, 2544.50437636,
       2612.78185142, 2693.05066736, 2651.43708958, 2698.73977411,
       2707.85361464, 2716.99989099, 2663.71632737, 2652.04437991,
       2690.07592425, 2696.45586517, 2718.00204456, 2696.3374803 ,
       2685.38516884, 2616.65961593, 2635.51476384, 2626.87636751,
       2606.98457898, 2630.62825583, 2664.21137928, 2749.54631805,
       2734.94206727, 2759.73973873, 2748.53390609, 2736.83038965,
       2755.9847528 , 2736.84534416, 2719.46714929, 2781.20301198,
       2831.24944682, 2795.32701908, 2838.77922045, 2839.57325738,
       2860.65043588, 2839.17087968, 2785.18650701, 2706.76030561])

In [20]:
print('Intercept: ', bajaj_model.intercept_)
print('Coefficients: ', bajaj_model.coef_)

Intercept:  482.35983073032594
Coefficients:  [ 4.15666507e-05  1.27386797e+00 -4.42298062e-01]

In [71]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_train_bajaj, bajaj_train_predictions))  
print('Mean Squared Error:', metrics.mean_squared_error(y_train_bajaj, bajaj_train_predictions))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train_bajaj, bajaj_train_predictions)))
print('R2 Score:', metrics.r2_score(y_train_bajaj, bajaj_train_predictions))

Mean Absolute Error: 35.81148390659665
Mean Squared Error: 2250.1026213947875
Root Mean Squared Error: 47.43524661467238
R2 Score: 0.7923884328894653

In [72]:
stats.summary(bajaj_model, X_train_bajaj, y_train_bajaj, features)

Residuals:
      Min       1Q  Median       3Q       Max
-128.9328 -26.7842 -2.4377  27.8792  115.8025


Coefficients:
              Estimate  Std. Error  t value   p value
_intercept  482.359831  175.946377   2.7415  0.008412
Volume        0.000042    0.000014   2.9598  0.004661
Low           1.273868    0.165481   7.6980  0.000000
Open         -0.442298    0.163361  -2.7075  0.009202
---
R-squared:  0.79239,    Adjusted R-squared:  0.77941
F-statistic: 61.07 on 3 features

## Making predictions for Bajaj

In [105]:
# Getting data to predict in range
X_pred_bajaj = bajaj_df[bajaj_df["Date"] >= "2018-12-26"]
X_pred_bajaj = X_pred_bajaj[X_pred_bajaj["Date"] <= "2019-01-04"]

X_pred_bajaj

,Date,High,Low,Open,Close,Volume,Adj Close,Company,Exchange
490,2018-12-26,2749.800049,2670.000000,2713.699951,2734.600098,410582.0,2559.775635,BAJAJ-AUTO,NSE
491,2018-12-27,2764.000000,2696.600098,2763.899902,2737.000000,558049.0,2562.022217,BAJAJ-AUTO,NSE
492,2018-12-28,2759.949951,2711.750000,2753.899902,2717.500000,358369.0,2543.768799,BAJAJ-AUTO,NSE
493,2018-12-31,2763.000000,2710.000000,2738.000000,2720.149902,406069.0,2546.249268,BAJAJ-AUTO,NSE
494,2019-01-01,2743.399902,2705.000000,2735.000000,2726.649902,304150.0,2552.333740,BAJAJ-AUTO,NSE
495,2019-01-02,2747.250000,2677.000000,2720.000000,2692.000000,599274.0,2519.898926,BAJAJ-AUTO,NSE
496,2019-01-03,2723.850098,2682.100098,2690.100098,2701.350098,310511.0,2528.651367,BAJAJ-AUTO,NSE
497,2019-01-04,2742.000000,2702.100098,2714.000000,2734.199951,362393.0,2559.401123,BAJAJ-AUTO,NSE

In [106]:
# Removing columns
X_pred_bajaj = X_pred_bajaj[features]

X_pred_bajaj

       Volume          Low         Open
490  410582.0  2670.000000  2713.699951
491  558049.0  2696.600098  2763.899902
492  358369.0  2711.750000  2753.899902
493  406069.0  2710.000000  2738.000000
494  304150.0  2705.000000  2735.000000
495  599274.0  2677.000000  2720.000000
496  310511.0  2682.100098  2690.100098
497  362393.0  2702.100098  2714.000000

In [107]:
len(X_pred_bajaj)

8

In [108]:
# Getting actual data of that period to find accuracy of predicitions
y_actual_bajaj = bajaj_df[bajaj_df["Date"] >= "2018-12-26"]
y_actual_bajaj = y_actual_bajaj[y_actual_bajaj["Date"] <= "2019-01-04"]

y_actual_bajaj

,Date,High,Low,Open,Close,Volume,Adj Close,Company,Exchange
490,2018-12-26,2749.800049,2670.000000,2713.699951,2734.600098,410582.0,2559.775635,BAJAJ-AUTO,NSE
491,2018-12-27,2764.000000,2696.600098,2763.899902,2737.000000,558049.0,2562.022217,BAJAJ-AUTO,NSE
492,2018-12-28,2759.949951,2711.750000,2753.899902,2717.500000,358369.0,2543.768799,BAJAJ-AUTO,NSE
493,2018-12-31,2763.000000,2710.000000,2738.000000,2720.149902,406069.0,2546.249268,BAJAJ-AUTO,NSE
494,2019-01-01,2743.399902,2705.000000,2735.000000,2726.649902,304150.0,2552.333740,BAJAJ-AUTO,NSE
495,2019-01-02,2747.250000,2677.000000,2720.000000,2692.000000,599274.0,2519.898926,BAJAJ-AUTO,NSE
496,2019-01-03,2723.850098,2682.100098,2690.100098,2701.350098,310511.0,2528.651367,BAJAJ-AUTO,NSE
497,2019-01-04,2742.000000,2702.100098,2714.000000,2734.199951,362393.0,2559.401123,BAJAJ-AUTO,NSE

In [109]:
# Extracting actual close data
y_actual_bajaj = y_actual_bajaj['Close']

y_actual_bajaj

490    2734.600098
491    2737.000000
492    2717.500000
493    2720.149902
494    2726.649902
495    2692.000000
496    2701.350098
497    2734.199951
Name: Close, dtype: float64

In [110]:
len(y_actual_bajaj)

8

In [111]:
y_pred_bajaj = bajaj_model.predict(X_pred_bajaj)

In [112]:
y_pred_bajaj

array([2700.38959593, 2718.20097647, 2733.62290358, 2740.40885987,
       2731.12998273, 2714.36346679, 2722.0820759 , 2739.14511576])

In [113]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_pred_bajaj, y_actual_bajaj))  
print('Mean Squared Error:', metrics.mean_squared_error(y_pred_bajaj, y_actual_bajaj))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_pred_bajaj, y_actual_bajaj)))
print('R2 Score:', metrics.r2_score(y_pred_bajaj, y_actual_bajaj))

Mean Absolute Error: 17.739009546382647
Mean Squared Error: 396.0750544453145
Root Mean Squared Error: 19.901634466679226
R2 Score: -1.3951143400466974

In [114]:
stats.summary(bajaj_model, X_pred_bajaj, y_actual_bajaj, features)

Residuals:
     Min      1Q  Median       3Q      Max
-34.2105 -1.3397  10.534  20.3772  22.3635


Coefficients:
              Estimate   Std. Error  t value   p value
_intercept  482.359831  1414.960545   0.3409  0.743182
Volume        0.000042     0.000017   2.4308  0.045369
Low           1.273868     0.390482   3.2623  0.013820
Open         -0.442298     0.394685  -1.1206  0.299412
---
R-squared:  -0.68129,    Adjusted R-squared:  -1.94225
F-statistic: -0.54 on 3 features

# Preprocessing Hero Motoco Dataset

In [115]:
hero_df = hero_df.reset_index()
hero_df.head()

,level_0,index,Date,High,Low,Open,Close,Volume,Adj Close,Company,Exchange
0,0,0,2017-01-02,3068.949951,2992.550049,3042.000000,3030.550049,213654.0,2625.101074,HEROMOTOCO,NSE
1,1,1,2017-01-03,3016.149902,2962.550049,2978.000000,2986.550049,454277.0,2586.987549,HEROMOTOCO,NSE
2,2,2,2017-01-04,3017.300049,2971.000000,2999.000000,3004.899902,396816.0,2602.882568,HEROMOTOCO,NSE
3,3,3,2017-01-05,3083.800049,3012.949951,3034.899902,3071.750000,383925.0,2660.788574,HEROMOTOCO,NSE
4,4,4,2017-01-06,3119.000000,3052.000000,3085.000000,3067.550049,266915.0,2657.150635,HEROMOTOCO,NSE

## Creating training set for Hero